<div id="showFlights" class="flights">
	{{#each flights}}
		-----------------
		{{{this.departureDate }}}
		{{{this.durationHours }}}
		{{{this.from }}}
		{{{this.price }}}
		{{{this.searchUrl }}}
		{{{this.stops }}}
		{{{this.to }}}
	{{/each}}
</div>
